doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            nav
                ul 
                    a(href="/")
                        li Accueil
                    a(href="/brute-force")
                        li Brute Force
                    a(href="/collection")
                        li Collection
        block content