extends includes/head.pug

block content
    div
        button(id="startBruteForce") Démarrer le test
        input(type="checkbox", name="lowercase", id="lowercase") 
        label minuscules
        input(type="checkbox", name="uppercase", id="uppercase")
        label majuscules
        input(type="checkbox", name="symbol", id="symbol") 
        label symboles
        input(type="checkbox", name="number", id="number") 
        label chiffres
    script(
        type="text/javascript",
        src="/javascripts/client.js"
    )