*{
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Arial, sans-serif;
}

header {
  background-color: #3f3f3f;
}

nav ul li {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  color: #eee;
}

h1 {
  color: #999;
}
